.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    text-align: center;
    width: 300px;
}
form div{
    display: flex;
    flex-direction: column;
}
form div input{
    padding: 3px;
    margin: 10px;
}
form input{
    padding: 5px 20px;
}